.notfound{
    margin-top: -20px;
    height: 500px;
    text-align: center;
}

h1{
    padding-top: 120px;
    font-weight: bolder;
    font-size: 100px;
    color: #E6A4B4;

}

h4{
    font-weight: bolder;
    font-size: 100px;
    color: #E6A4B4;
}