<div class="PORTFOLIO ">
    <h2 class="text">PORTFOLIO  COMPONENT</h2>
      <i class="fa-solid fa-star " style="margin-left: 46%;"></i>
      <i class="fa-solid fa-star "></i>
      <i class="fa-solid fa-star "></i>     

      <br><br><br>

      <div class="container text-center">
        <div class="row">
          <div class="col-md-4">
            <a routerLink="angular">
              <div class="overlay">
              <div class="plus">+</div>
            </div>
              <img class="imgs"  src="./assets/taskimg/AngularJS-1.png">
            </a>   
          </div>
          <div class="col-md-4">
            <a routerLink="bootstrap">
              <div class="overlay">
              <div class="plus">+</div>
            </div>
            <img class="imgs" src="./assets/taskimg/b-thumb-img9.jpg">
          </a>
          </div>
          <div class="col-md-4">
            <a routerLink="html">
              <div class="overlay">
              <div class="plus">+</div>
            </div>
            <img class="imgs" src="./assets/taskimg/1_cgj7j0bkyCplP9hpFG43Wg.png">
          </a>   
          </div>
          <div class="col-md-4">
            <a routerLink="angular">
              <div class="overlay">
              <div class="plus">+</div>
            </div>
            <img class="imgs" src="./assets/taskimg/AngularJS-1.png">
          </a>   
          </div>
          <div class="col-md-4">
            <a routerLink="bootstrap">
              <div class="overlay">
              <div class="plus">+</div>
            </div>
            <img class="imgs" src="./assets/taskimg/b-thumb-img9.jpg">
          </a>
          </div>
          <div class="col-md-4">
            <a routerLink="html">
              <div class="overlay">
              <div class="plus">+</div>
            </div>
            <img class="imgs" src="./assets/taskimg/1_cgj7j0bkyCplP9hpFG43Wg.png">
          </a>   
          </div>
        </div>
      </div>
      <br><br>
   
      <div class="test">
        <router-outlet></router-outlet>
      </div>
</div>
